.dropdown {
  margin: 10px;
  width: 200px;
  position: absolute;
  border: 1px solid #babfc4;
  border-radius: 4px;
  height: 200px;
  color: white;
  color: black;
  box-shadow: 1px 2px 4px #babfc4;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  align-items: center;
  margin: 10px;
}

.list {
  margin-left: 10px;
  padding: 10px 25px;
  text-align: left;
  border-bottom: 1px solid #babfc4;
  cursor: pointer;
}

.list:hover {
  background-color: rgba(225, 236, 244, 1);
}
