.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 500px;
  background-color: #ffffff;
  width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

.movie-list {
  width: 48%;
}
.divider {
  width: 1px;
  background: lightgrey;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin: 10px;
  padding: 10px 10px;
  cursor: pointer;
  flex-wrap: wrap;
}
.div-click-color {
  background-color: rgba(225, 236, 244, 1);
}
.movie-details {
  width: 48%;
  margin: 10px;
}
.director {
  padding: 10px 20px;
}
.details {
  padding: 10px 20px;
}

@media only screen and (max-width: 800px) {
  .movie-list {
    width: 100% !important;
    margin: 10px;
  }
  .divider {
    width: 0;
  }
  .movie-details {
    margin: 10px;
    width: 100%;
    text-align: center;
  }
}
